h1{
    color: rgb(6, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(39, 144, 160);
}

h2{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(234, 19, 126);
}

